<!--
  Recuerde conservar los id, no deben ser modificados
  ids = login__email, login__password, login__password-error, login__email-error, login__btn-login
-->

<form [formGroup]="loginForm" (submit)="sendLoginForm()">
  <div class="login-body">
    <div class="login-wrapper">
      <div class="card" style="background-color: transparent !important; padding: 33px">
        <h3 class="mt-0 mb-30" style="color: aliceblue; background-color: none; text-align: center">
          Welcome !
        </h3>

        <div class="mb-30">
          <label>
            <input
              id="login__email"
              type="text"
              class="white large"
              [class.error]="emailInvalid"
              placeholder="Email"
              formControlName="email"
            />
            <p *ngIf="emailRequired" id="login__email-error" class="form-hint error-text">
              Email is required
            </p>
            <p *ngIf="emailMinLength" id="login__email-error" class="form-hint error-text">
              The minimum of characters will be 8
            </p>
          </label>
        </div>

        <div class="mb-30">
          <label>
            <input
              id="login__password"
              type="text"
              class="white large"
              [class.error]="passwordInvalid"
              placeholder="Password"
              formControlName="password"
            />
            <p *ngIf="passwordRequired" id="login__password-error" class="form-hint error-text">
              Password is required
            </p>
            <p
              *ngIf="passwordMinLength"
              id="login__password-error"
              name="inputPasswordError"
              class="form-hint error-text"
            >
              The minimum of characters will be 8
            </p>
          </label>
        </div>

        <div class="layout-row align-items-start justify-content-center">
          <button id="login__btn-login" name="btnLogin" type="submit">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>
